* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Arial, sans-serif;
}

/* cabeçalho */
header {
    background-color: #222;
    color: white;
    padding: 20px;
    text-align: center;
}

header h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

/*galeria de imagens */
.galeria {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 30px;
}

.card {
    color: black;
    background-color: #f5f5f5;
    border-radius: 12px;
    overflow: hidden;
    text-align: center;
    transition: transform 0.2s, box-shadow 0.2s;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: contain;
}

.card p {
    padding: 10px;
    font-weight: bold;
}

/* rodapé */
footer {
    text-align: center;
    color: #f5f5f5;
    padding: 20px;
    background-color: #222;
}
.botao{
    display: inline-block;
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    text-decoration: none;
    transition: background-color 0.3s;

}
.botao:hover {
    background-color: #0056b3;
}
.botao-secundario {
    background: #555;
}
/* Contato */
.container-contato {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding: 20px;
}

.contato-card, .contato-info {
    flex: 1;
    min-width: 300px;
    background: white;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

label {
    display: block;
    margin-top: 10px;
}

input, textarea {
    width: 100%;
    margin-top: 5px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
